// Colors from StyleGuide 

$primaryColor: #BA0621;
$primaryTextColor: #0B0101;
$secondaryTextColor: #FFF;
$iconColor: #CC1D36;
$contactSectionColor: #6C0918;
$headingFont: 'Kanit', sans-serif;
$navFont: 'Catamaran', sans-serif;
$bodyFooterFont: 'Roboto', sans-serif;


// * {
//     border: solid 4px greenyellow;
// }

// Setting General Styles for all words/letters on the page


h1,
h2,
.driveSolo {
    font-family: $headingFont;
}

.driveSolo {
    color: $secondaryTextColor;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    @include fontSize(30);
}

h1 {
    text-transform: uppercase;
    line-height: 97px;
    letter-spacing: 1px;
    @include fontSize(116.2);
    color: $iconColor;
}

h1 span {
    display: block;
    line-height: 40px;
}

h2 {
    line-height: 43px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}